<!-- 

Copyright 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the license found in the
LICENSE file in the root directory of this source tree.

-->
<html>
  <head>
    <title>OAuth Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      div { margin: 10px 0px 10px 0px; }
    </style>
  </head>
  <body>

    <h1>Login</h1>

    <div>
      This should be a login page. If the user successfully logs, they should 
      be redirect to this link: <a href="<%= redirectURISuccess %>">Complete Account Link</a>
    </div>

    <div>
      Account linking token: <%= accountLinkingToken %> 
    </div>

    <div>
      Redirect URI: <%= redirectURI %> 
    </div>

    <div>
      Redirect URI Successful: <%= redirectURISuccess %> 
    </div>
    



  </body>
</html>