<html>
  <head>
    <title>OAuth Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      div { margin: 10px 0px 10px 0px; }
    </style>
  </head>
  <body>

    <h1>Login</h1>

    <div>
      This should be a login page. If the user successfully logs in, they should 
      be redirect to this link: <a href="@ViewBag.RedirectURISuccess">Complete Account Link</a>
    </div>

    <div>
      Account linking token: @ViewBag.AccountLinkingToken 
    </div>

    <div>
      Redirect URI: @ViewBag.RedirectURI
    </div>

    <div>
      Redirect URI Successful: @ViewBag.RedirectURISuccess
    </div>
    



  </body>
</html>